.game h1 {
  font-size: 2.5em;
}

.points span {
  font-weight: 600;
  margin-top: 40px;
  display: inline-block;
}

.tip span {
  color: #e89b25;
}

.wordContainer {
  margin: 1.5em;
  padding: 1.5em;
  border: 20px solid #5f86a5;
  border-radius: 10px;
  display: flex;
}

.letter,
.blankSquare {
  font-size: 70px;
  line-height: 1.5;
  border: 3px solid #4e4d4d;
  height: 100px;
  width: 100px;
  text-transform: uppercase;
  background: #f1f1e6;
  color: #474747;
  font-weight: 700;
}

.letterContainer p {
  margin-bottom: 1.2rem;
}

.letterContainer form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.letterContainer input {
  height: 50px;
  width: 50px;
  font-size: 2.em;
  text-align: center;
  margin-right: 1em;
}